h1{
text-align: center;
padding: 30px;
}

img{
    width: 75% !important;
    height: 80% !important;
    margin-left: auto;
    margin-right: auto;
}
form{
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
}
label{
    color: #777771;
    font-size: 12px;
    font-weight: 700;
    padding-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type='text'],input[type='tel'],input[type='email'], textarea{
    padding: 15px;
    background-color: #f6f7f9;
    border: none;
    margin-bottom: 10px !important;
    height: auto;
    width: 100%;
}

input[type='radio']{
 padding-left: 5px;
 padding-right: 5px;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 6px 25px;
    align-self: center;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    appearance: none;
}   
button:hover{
    box-shadow: #777771;
}

button:active{
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    transform: scale(0.9)
}
.button{
    width: 105px;
    margin-left: auto !important;
    margin-right: auto !important;
}

